<ion-view view-title="About">
  <ion-content>

    <div class="hero no-header flat" style="background: url(img/about-bg.jpg) center; background-size: cover;">
        <div class="content">
            <div class="app-icon"></div>
            <h1 style="color: #fff;">ForRunners</h1>
        </div>
    </div>


    <div class="mid-bar dark-bg z1 padding">
      <h3>By Benoît HERVIER (Khertan)</h3>
      <p>http://khertan.net/</p>
    </div>

    <div class="content double-padding">
      <h4 class="positive">ForRunner</h4>
      <p class="text-muted">
        A gps tracking application dedicated to runners.<br />
        Version 0.9.0<br />
        Licence GPLv3
      </p>

    </div>

    <div class="content double-padding">
      <h4 class="positive">Privacy Policy</h4>
      <p class="text-muted">
        ForRunners didn't communicate any informations outside of your device, except for getting maps from Here.net services and if you activate debug mode. In this last case, any errors and debug message will be sent to my own server for debugging. 
      </p>
    </div>

    <div class="content double-padding">
      <h4 class="positive">Open source content</h4>
      <p class="text-muted">
        ForRunners use parts or library of the following open source projects :
        <ul class="circle">
          <li>IonicFramework</li>
          <li>Cordova</li>
          <li>OpenStreetMap</li>
          <li>com.dustinblackman.plugin.MusicControl</li>
          <li>de.appplant.cordova.plugin.background-mode</li>
          <li>nl.x-services.plugins.insomnia</li>
          <li>org.apache.cordova.speech.speechsynthesis</li>
          <li>AngularJS</li>
          <li>ChartJS</li>
          <li>angular-chart.js</li>
          <li>chart.horizontalbar</li>
          <li>leaflet</li>
          <li>angular-leaflet-directive</li>
          <li>ionic-material</li>
          <li>stacktrace-js</li>
        </ul>
      </p>
    </div>

  </ion-content>
</ion-view>
