<ion-view view-title="ForRunners">

<ion-content ng-controller="FilePickerController">
    <div class="list">
        <div ng-repeat="file in files track by $index">
            <a class="item item-icon-left" href="#" ng-click="getContents(file.nativeURL)">
                <i ng-show="file.isDirectory" class="icon ion-folder positive"></i>
                <i ng-show="file.isFile" class="icon ion-document"></i>
                {{file.name}}
            </a>
        </div>
    </div>
</ion-content>

</ion-view>
