<ion-view view-title="{{ '_help' | translate }}">
  <ion-content>

    <div class="list padding">
        <a class="item" href="#">
            <p style="text-align:justify;white-space:normal;margin-bottom:15px;"><b>{{ help_subtitle }}</b></p>
            <center><img src="{{ help_path }}" class="img-help"></center>
            <p style="text-align:justify;white-space:normal;" ng-bind-html="help_desc | unsafe" ></p>
        </a>
    </div>

    <div class="row">
      <div class="col col-50">
        <button class="button button-full button-positive" ng-click="previous()">
            Previous
        </button>     
     </div>
<div class="col col-50">      
       <button class="button button-full button-positive" ng-click="next()">
            Next
        </button>       
</div>    
    </div>
  </ion-content>

</ion-view>

