<ion-view view-title="Session">
<ion-nav-buttons side="right">
<button class="button button-icon button-clear ion-android-delete"
ng-click="deleteSessionByID(session.recclicked)"></button>
</ion-nav-buttons>
<ion-content>
<!--<div id="mapContainer"  style="width: 100%; height: 350px; background: white"></div>-->
<leaflet id="sessmap" height="300px" width="100%" defaults="session.map.defaults" paths="session.map.paths"
bounds="session.map.bounds"
controls="session.map.controls"                                                                                  
tiles="session.map.tiles"
markers="session.map.markers" ></leaflet>
<div class="mid-bar dark-bg z1 padding">
  <h3>{{ session.start | ldate }}</h3>
  <p>
    <i class="icon ion-clock"></i> {{session.duration | date:"HH:mm":"UTC"}} -
    <i class="icon ion-ios-location"></i> {{session.distance}} Kms -
    <i class="icon ion-ios-stopwatch-outline"></i> {{session.pace | date:"m.ss"}} Kph
  </p>
</div>

<div class="row">
  <div class="col col-right">
    <div class="item" style="text-align: center">
      <h2 style="text-align: center">{{session.speed}} Km/h</h2>
      <p  style="text-align: center">{{ "_speed_average" | translate }}</p>
    </div>
  </div>
  <div class="col col-10 col-center"  style="text-align: center">
    <i class="icon ion-ios-speedometer positive" style="text-align: center;font-size: 32px;"></i>
      
  </div>
  <div class="col col-left">
    <div class="item" style="text-align: center">
      <h2  style="text-align: center">{{ session.pace | date:"m.ss"  }}</h2>
      <p  style="text-align: center">{{ "_pace" | translate }}</p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col col-right">
    <div class="item" style="text-align: center">
      <h2 style="text-align: center">{{session.distance}} Kms</h2>
      <p  style="text-align: center">{{ "_distance" | translate }}</p>
    </div>
  </div>
  <div class="col col-10 col-center"  style="text-align: center">
    <i class="icon ion-map positive" style="text-align: center;font-size: 32px;"></i>
  </div>
  <div class="col col-left">
    <div class="item" style="text-align: center">
      <h2  style="text-align: center">{{ session.duration |date:"HH:mm":"UTC" }}</h2>
      <p  style="text-align: center">{{ "_time" | translate }}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-right">
    <div class="item" style="text-align: center">
      <h2 style="text-align: center">{{session.eleUp}} m</h2>
      <p  style="text-align: center">{{ "_up" | translate }}</p>
    </div>
  </div>
  <div class="col col-10 col-center"  style="text-align: center">
    <i class="icon ion-ios-arrow-thin-up positive" style="text-align: center;font-size: 32px;"></i>
    <i class="icon ion-ios-arrow-thin-down positive" style="text-align: center;font-size: 32px;"></i>
  </div>
  <div class="col col-left">
    <div class="item" style="text-align: center">
      <h2  style="text-align: center">{{ session.eleDown }} m</h2>
      <p  style="text-align: center">{{ "_down" | translate }}</p>
    </div>
  </div>
</div>

<div class="row row-center" ng-if="session.weather.main.temp">
  <div class="col col-center" ng-if="session.weather.main.temp">
    <div class="item weatherinfo" ng-if="session.weather.main.temp">
      <img ng-if="session.weather.main.temp != ''" src="http://openweathermap.org/img/w/{{session.weather.weather[0].icon}}.png"/><br>
      <p class="weatherinfo" ng-if="session.weather.main.temp">{{session.weather.main.temp}} °C</p>
      <h2 class="weatherinfo" ng-if="session.weather.main.temp">{{session.weather.weather[0].description}}</h2>
    </div>
  </div>
</div>
</div>

<!--Graph 1 : speed vs alt -->
<div class="content double-padding">
    <h4 class="positive text-center">Speed VS Altitude</h4>
</div>
<canvas ng-if="session.paceDetails.length > 1" id="line" class="item chart chart-line ng-isolate-scope" data="session.chart_data"
labels="session.chart_labels" chart-legend="true" series="session.chart_series"
options="session.chart_options"
style="width: 100%; height: 300px; background: white">
</canvas>

<!--Graph 2 : speed vs heartrate -->
<div class="content double-padding" ng-if="session.heartRate"> 
      <h4 class="positive text-center">Speed VS HeartRate</h4>
</div> 
<canvas ng-if="session.heartRate" id="line" class="item chart chart-base ng-isolate-scope" chart-type="session.chart2_type" data="session.chart2_data"
labels="session.chart2_labels" chart-legend="false" series="session.chart2_series"
options="session.chart2_options" chart-zoneColors="session.hr_colors"
style="width: 100%; height: 300px; background: white">
</canvas>

<!--Graph 3 : speed vs heartrate -->
<div class="content double-padding" ng-if="session.heartRate"> 
      <h4 class="positive text-center">Alt VS HeartRate</h4>
</div> 
<canvas ng-if="session.heartRate" id="line" class="item chart chart-base ng-isolate-scope" chart-type="session.chart4_type" data="session.chart4_data"
labels="session.chart4_labels" chart-legend="false" series="session.chart4_series"
options="session.chart4_options" chart-zoneColors="session.hr_colors"
style="width: 100%; height: 300px; background: white">
</canvas>


<canvas ng-if="session.heartRate" id="doughnut" class="item chart chart-doughnut ng-isolate-scope labeled-chart-container"
      data="session.chart3_data" labels="session.chart3_labels"
      chart-legend="true"
      options="session.chart3_options"
      colours="session.hhr_colors"
      style="width: 100%; height: 300px; background: white">
</canvas> 
<div class="table" ng-if="session.paceDetails.length > 0">
<div class="row row-center row-header" style="text-align: center" >
  <div class="col col-center">
    <b>{{ "_km" | translate }}</b>
  </div>
  <div class="col col-center">
    {{ "_pace" | translate }}
  </div>
  <div class="col col-center">
    {{ "_speed" | translate }}
  </div>
  <div class="col col-center" ng-if="session.heartRate">
    {{ "_bpm" | translate }}
  </div>

</div>
</div>
<div class="table">
<div class="row row-center" style="text-align: center" collection-repeat="stepPace in session.paceDetails">
  <div class="col col-center col-sep" >
    <b>{{ stepPace.km }}</b>
  </div>
  <div class="col col-center col-sep">
    {{ stepPace.pace | date:"m.ss" }}
  </div>
  <div class="col col-center col-sep">
    {{ stepPace.speed | number:1}}
  </div>
  <div class="col col-center col-sep" ng-if="session.heartRate">
    {{ stepPace.hr | number  }}
  </div>

</div>
</div>
<!--
<div class="list card">
<div class="row row-center">
  <div class="col col-center">
    <canvas id="horizontalBar" class="chart chart-base ng-isolate-scope" data="session.bchart_data"
    labels="session.bchart_labels" chart-legend="false" series="session.bchart_series"
    options="session.bchart_options"
    style="width: 100%; height: 550px; background: white" chart-type="session.bchart_type">
    </canvas>
  </div>
</div>
</div>-->
<!--<div style="" class="button-bar">
<button style="" class="button button-stable button-block icon ion-happy"></button>
<button style="" class="button button-stable button-block icon ion-sad"></button>
</div>-->

<!--<div class="list card">
<div class="row row-center">
  <div class="col col-center">
    <p>Speed</p>
    <canvas id="doughnut" class="chart chart-doughnut ng-isolate-scope" data="session.chart2_data"
    labels="session.chart2_labels" legend="true"
    options="session.chart2_options"
    style="width: 100%; height: 350px; background: white">
    </canvas>
  </div>
</div>
</div>-->
<!--<div class="row row-center">
<div class="col col-center">
  <p>Elevation</p>
  <canvas id="line" class="chart chart-line ng-isolate-scope" data="session.chart_ele_data"
  labels="session.chart_ele_labels" legend="false" series="session.chart_ele_series"
  style="width: 100%; height: 350px; background: white">
  </canvas>
</div>
</div>-->
</ion-content>
</ion-view>
