*.com
*.class
*.dll
*.exe
*.o
*.so
 
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
 
*.log
*.sqlite
 
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 
*.un~

plugins/*
*.keystore
*.key

platforms/android/CordovaLib/build/*
